.errorMsj {
  color: red;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 4px;
}

.margin-login {
  margin-bottom: 1.2rem !important;
}

.container-success {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .fa-check-circle {
    font-size: 12rem;
    color: #80dcf3;
  }

  & p {
    font-size: 1.5rem;
    color: #0058cc;
    margin-top: 15px;
  }
}

form {
  display: flex;
  flex-flow: column;

  .show-password {
    font-size: 0.8rem;
    color: #0058cc;
    margin-bottom: 0.3rem;

    & label {
      margin-right: 10px;
    }
  }

  & .input-double {
    display: flex;
    justify-content: space-between;
  }

  .input-container {
    display: flex;
    flex-flow: column;
    margin-bottom: 2.2rem;

    &.double {
      width: 45%;
    }

    & label {
      font-size: 0.8rem;
      color: #0058cc;
      margin-bottom: 0.3rem;
    }

    & input {
      border: #33beff 1px solid;
      font-size: 1rem;
      height: 50px;
      padding: 10px;
      color: #3e3e3e !important;
    }

    & .Dropdown-control {
      border: #33beff 1px solid;
      font-size: 1rem;
      height: 50px;
      padding: 10px;
      color: #3e3e3e !important;
    }
  }

  .btns-container {
    display: flex;
    justify-content: space-between;

    &.one-button {
      justify-content: flex-end;
    }

    button {
      border: none;
      font-size: 1rem;
      width: 45%;
      height: 3rem;
      border-radius: 4px;
      align-self: flex-end;

      &.btn-prev {
        align-self: flex-start;
        background-color: #fff;
        color: #0058cc;
        border: 1px solid #0058cc;

        &:hover {
          cursor: pointer;
          background-color: #0058cc;
          color: #fff;
        }
      }

      &.btn-next {
        background-color: #0058cc;
        color: #fff;
        margin-left: 15px;

        &:hover {
          cursor: pointer;
          background-color: #fff;
          color: #0058cc;
          border: 1px solid #0058cc;
        }
      }
    }
  }
}
